
<div *ngIf="car">
    <h2><span jhiTranslate="modifyFiledApp.car.detail.title">Car</span> {{car.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="modifyFiledApp.car.price">Price</span></dt>
        <dd>
            <span>{{car.price}}</span>
        </dd>
        <dt><span jhiTranslate="modifyFiledApp.car.createdAt">Created At</span></dt>
        <dd>
            <span>{{car.createdAt}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'car-my-suffix/'+ car.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
